
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-down:before { content: '\e801'; } /* '' */
.icon-th-large:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-down-dir:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-pause:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-up-big:before { content: '\e80c'; } /* '' */
.icon-tags:before { content: '\e80d'; } /* '' */
.icon-emo-happy:before { content: '\e80e'; } /* '' */
.icon-emo-unhappy:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-minus-circled:before { content: '\e814'; } /* '' */
.icon-comment:before { content: '\e815'; } /* '' */
.icon-emo-devil:before { content: '\e816'; } /* '' */
.icon-emo-grin:before { content: '\e817'; } /* '' */
.icon-emo-angry:before { content: '\e818'; } /* '' */
.icon-emo-saint:before { content: '\e819'; } /* '' */
.icon-emo-laugh:before { content: '\e81a'; } /* '' */
.icon-emo-squint:before { content: '\e81b'; } /* '' */
.icon-emo-sunglasses:before { content: '\e81c'; } /* '' */
.icon-forward:before { content: '\e81d'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
