@font-face {
    font-family: '8-bit pusab';
    src: url('fonts/8-bit-pusab.woff2') format('woff2'),
    url('fonts/8-bit-pusab.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

