@font-face {
    font-family: 'Eight-Bit-Dragon';
    src: url('fonts/Eight-Bit-Dragon.woff2') format('woff2'),
    url('fonts/Eight-Bit-Dragon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

