:root { 
--bg: rgb(255,255,255);
--link: rgb(39,79,146);
--filters-selected: rgb(201,211,228);
--link-hover: rgb(93,123,173);
--link-hower-white: rgb(39,79,146);
--link-white: rgb(0,0,0);
--filter-minus: rgb(229,108,95);
--buttons: rgb(39,79,146);
--buttons-hover: rgb(93,123,173);
--red-dark-1: rgb(185,0,0);
--red-dark-2: rgb(194,0,0);
--red-dark-3: rgb(203,0,0);
--red-dark-4: rgb(211,10,0);
--red-default: rgb(220,59,42);
--red-light-1: rgb(229,108,95);
--red-light-2: rgb(238,157,149);
--red-light-3: rgb(246,206,202);
--red-light-4: rgb(252,235,234);
--green-dark-1: rgb(0,79,0);
--green-dark-2: rgb(0,101,0);
--green-dark-3: rgb(0,123,0);
--green-dark-4: rgb(0,145,14);
--green-default: rgb(32,167,62);
--green-light-1: rgb(88,189,110);
--green-light-2: rgb(144,211,159);
--green-light-3: rgb(199,233,207);
--green-light-4: rgb(233,246,236);
--blue-dark-1: rgb(0,0,37);
--blue-dark-2: rgb(0,0,64);
--blue-dark-3: rgb(0,0,92);
--blue-dark-4: rgb(0,35,119);
--blue-default: rgb(39,79,146);
--blue-light-1: rgb(93,123,173);
--blue-light-2: rgb(147,167,201);
--blue-light-3: rgb(201,211,228);
--blue-light-4: rgb(233,237,244);
--yellow-dark-1: rgb(185,61,0);
--yellow-dark-2: rgb(194,85,0);
--yellow-dark-3: rgb(203,110,0);
--yellow-dark-4: rgb(211,134,0);
--yellow-default: rgb(220,158,42);
--yellow-light-1: rgb(229,182,95);
--yellow-light-2: rgb(238,207,149);
--yellow-light-3: rgb(246,231,202);
--yellow-light-4: rgb(252,245,234);
--gray-dark-1: rgb(21,21,21);
--gray-dark-2: rgb(50,50,50);
--gray-dark-3: rgb(80,80,80);
--gray-dark-4: rgb(109,109,109);
--gray-default: rgb(138,138,138);
--gray-light-1: rgb(167,167,167);
--gray-light-2: rgb(197,197,197);
--gray-light-3: rgb(226,226,226);
--gray-light-4: rgb(243,243,243);
--white: rgb(255,255,255);
--black: rgb(0,0,0);
}body.theme_dark{--bg: rgb(0,0,0);
--link: rgb(147,167,201);
--filters-selected: rgb(147,167,201);
--link-hover: rgb(201,211,228);
--link-hower-white: rgb(93,123,173);
--link-white: rgb(167,167,167);
--filter-minus: rgb(229,108,95);
--buttons: rgb(39,79,146);
--buttons-hover: rgb(93,123,173);
}