openapi: 3.0.0
info:
  title: 'FilmDemographics API'
  description: ''
  termsOfService:
  contact:
    email: 
  license:
    name: 'FilmDemographics'
    url: 'https://filmdemographics.com'
  version: 1.0.0
servers:
  -
    url: 'https://api.filmdemographics.com/v1'
    description: 'FilmDemographics API Mocking'
paths:
  '/media/{mediaId}':
    get:
      tags:
        - media
      description: 'Returns a media object.'
      operationId: getMediaById
      parameters:
        -
          name: mediaId
          in: path
          description: 'ID of media that needs to be fetched'
          required: true
          schema:
            type: integer
            format: int64
          example: 21055
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
        '401':
          description: Unauthorized
        '404':
          description: 'Media not found'
      security:
        -
          api_key: []
  '/media/{mediaId}/cast':
    get:
      tags:
        - media
      description: 'Returns list of cast objects.'
      operationId: getMediaCast
      parameters:
        -
          name: mediaId
          in: path
          description: 'ID of media that needs to be fetched'
          required: true
          schema:
            type: integer
            format: int64
          example: 21055
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cast'
        '401':
          description: Unauthorized
        '404':
          description: 'Media not found'
      security:
        -
          api_key: []
  '/media/{mediaId}/rating':
    get:
      tags:
        - media
      description: 'Returns list of rating objects.'
      operationId: getMediaRating
      parameters:
        -
          name: mediaId
          in: path
          description: 'ID of media that needs to be fetched'
          required: true
          schema:
            type: integer
            format: int64
          example: 21055
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rating'
        '401':
          description: Unauthorized
        '404':
          description: 'Media not found'
      security:
        -
          api_key: []
  /search:
    get:
      tags:
        - search
      summary: 'Returns media objects'
      description: 'Returns a map of media objects'
      operationId: searchMedia
      parameters:
        -
          name: s
          in: query
          description: 'Search string. Type to find media by title and release year'
          required: false
          schema:
            type: string
          example: matrix
        -
          name: p
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            format: int32
          example: 1
        -
          name: pp
          in: query
          description: 'Number of results per page: 1-50'
          required: false
          schema:
            type: integer
            format: int32
          example: 20
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                properties:
                  currentPage: { type: integer, example: 1 }
                  totalPages: { type: integer, example: 5 }
                  totalCount: { type: integer, example: 100 }
                  data: { type: array, items: { $ref: '#/components/schemas/Media' } }
                type: object
        '404':
          description: 'Media not found'
        '401':
          description: Unauthorized
      security:
        -
          api_key: []
  /string_uri:
    get:
      tags:
        - string_uri
      summary: 'Returns media objects'
      description: 'Returns a map of media objects'
      operationId: getMediaBystrURI
      parameters:
        -
          name: strURI
          in: query
          description: 'Type to find media by string request'
          required: false
          schema:
            type: string
          example: /search/show_ratings_rrwt/type_movies/rrwt_70-100
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 'Media not found'
        '405':
          description: 'Invalid input'
      security:
        -
          api_key: []
  /string_uri/chart:
    get:
      tags:
        - string_uri
      summary: 'Returns media objects'
      description: 'Returns a map of media objects'
      operationId: getChartDataBystrURI
      parameters:
        -
          name: strURI
          in: query
          description: 'Type to find media by string request'
          required: true
          schema:
            type: string
          example: /analytics/tab_ethnicity/release_2020-2030/type_movies/vis_scatter/xaxis_rimdb/yaxis_release/showcast_1
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 'Media not found'
        '405':
          description: 'Invalid input'
      security:
        -
          api_key: []
  /string_uri/facets:
    get:
      tags:
        - string_uri
      summary: 'Returns media objects'
      description: 'Returns a map of media objects'
      operationId: getFacetsBystrURI
      parameters:
        -
          name: strURI
          in: query
          description: 'Type to find media by string request'
          required: false
          schema:
            type: string
          example: /search/show_ratings_rrwt/type_movies/rrwt_70-100
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 'Media not found'
        '405':
          description: 'Invalid input'
      security:
        -
          api_key: []
components:
  schemas:
    Cast:
      title: 'Cast model'
      description: 'Cast model'
      properties:
        id:
          title: 'Cast ID'
          type: integer
          format: int64
          default: 0
          example: 206
        name:
          title: 'Cast name'
          type: string
          default: ''
          example: 'Keanu Reeves'
        birth_name:
          title: 'Birth name'
          type: string
          default: ''
          example: 'Keanu Charles Reeves'
        birth_place:
          title: 'Birth place'
          type: string
          default: ''
          example: 'Beirut, Lebanon'
        burn_date:
          title: 'Burn date'
          type: string
          default: ''
          example: '1964-9-2'
        type:
          title: 'Cast type'
          type: string
          default: ''
          enum:
            - all
            - stars
            - supporting
          example: stars
        race:
          title: 'Cast race'
          type: string
          default: ''
          enum:
            - White
            - Asian
            - Latino
            - Black
            - Indian
            - Arab
            - 'Mixed / Other'
            - Jewish
          example: White
        race_id:
          type: integer
          format: int64
          default: 0
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          example: 1
        gender:
          title: 'Cast gender'
          type: string
          default: ''
          enum:
            - Male
            - Female
          example: Male
      type: object
    CastName:
      title: 'CastName model'
      description: 'CastName model'
      properties:
        id:
          title: 'Cast ID'
          type: integer
          format: int64
          default: 0
          example: 206
        name:
          title: 'Cast name'
          type: string
          default: ''
          example: 'Keanu Reeves'
      type: object
    Demographic:
      title: 'Demographic model'
      description: 'Demographic model'
      properties:
        race:
          title: 'Cast race'
          type: string
          default: ''
          example: White
        race_id:
          type: integer
          format: int64
          default: 0
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          example: 1
        percent:
          title: Percent
          type: integer
          format: int64
          default: 0
          example: 100
      type: object
    Gender:
      title: 'Gender model'
      description: 'Gender model'
      properties:
        gender:
          title: 'Cast gender'
          type: string
          default: ''
          example: Male
        percent:
          title: Percent
          type: integer
          format: int64
          default: 0
          example: 100
      type: object
    Media:
      title: 'Media model'
      description: 'Media model'
      properties:
        id:
          title: ID
          description: ID
          type: integer
          format: int64
          default: 0
          example: 21055
        type:
          title: Type.
          description: Type.
          type: string
          default: ''
          enum:
            - Movie
            - TVSeries
            - VideoGame
          example: Movie
        title:
          title: Title
          description: Title
          type: string
          default: ''
          example: 'The Matrix'
        year:
          title: Year
          description: Year
          type: integer
          format: in32
          default: 0
          example: 1999
        release:
          title: 'Release date'
          description: 'Release date'
          type: string
          default: ''
          example: '1999-03-31'
        imdb_id:
          title: 'IMDB ID'
          description: 'IMDB ID'
          type: string
          default: ''
          example: tt0133093
        cast_stars:
          title: 'Cast stars'
          description: 'Cast stars list'
          properties:
            cast:
              type: array
              items:
                $ref: '#/components/schemas/CastName'
            demographic:
              type: array
              items:
                $ref: '#/components/schemas/Demographic'
          type: object
        cast_stupporting:
          title: 'Cast stupporting'
          description: 'Cast supporting list'
          properties:
            cast:
              type: array
              items:
                $ref: '#/components/schemas/CastName'
            demographic:
              type: array
              items:
                $ref: '#/components/schemas/Demographic'
          type: object
        cast_all:
          title: Cast
          description: 'Cast all list'
          properties:
            cast:
              type: array
              items:
                $ref: '#/components/schemas/CastName'
            gender:
              type: array
              items:
                $ref: '#/components/schemas/Gender'
            demographic:
              type: array
              items:
                $ref: '#/components/schemas/Demographic'
          type: object
      type: object
    Rating:
      title: 'Rating model'
      description: 'Rating model'
      properties:
        id:
          title: 'Rating ID'
          description: 'Rating ID'
          type: string
          default: ''
          example: rimdb
        title:
          title: Title
          description: Title
          type: string
          default: ''
          example: IMDb
        value:
          title: Value
          type: number
          format: float
          default: 0
          example: 9.8
      type: object
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
tags:
  -
    name: search
    description: 'Find media by titles'
  -
    name: media
    description: 'Get media info'
  -
    name: string_uri
    description: 'Get media by string request'
