a.selected {
    background-color: #3b3b3b;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #bfbfbf;
    font-family: Tahoma;
}


.site , .is-singular:not(.home) .site-inner {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #bfbfbf;
    font-family: Tahoma;
}

body #custom-handle,body #custom-handle2 ,body #budget_custom-handle, body #budget_custom-handle2 {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.content{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 305px 1fr;
}
select{
    width: 100%;
}
.control_top{
    grid-column: 1/3;
}
.footer{
    grid-column: 1/3;
}
.control_panel_block{
    padding: 10px;
}
.click_container{
    display: none;
}
.click_open{
    cursor: pointer;
}
.star_actors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
}
.main_actors{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.extra_actors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.a_data {
    max-width: 350px;
    background-color: #282828;
    margin: 5px;
    color: #fff;
    display: grid;
    align-content: space-between;
    padding: 6px;
    box-shadow: 2px 2px 11px #000;
    position: relative;
    align-self: self-start;
    font-size: 15px;
}
.a_data img {
    width: 100%;
    height: auto;
}
.a_data_r, .a_data_n{
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
}
.main_actors .a_data{
    min-height: 275px;
}
.extra_actors .a_data{
    min-height: 245px;
}


.select2, .select2-results {
    color: #000;
}
a {
    color: #0A9BD6;
}
.select2-container--default .select2-selection--single , .select2-container--default .select2-selection--multiple {
    background-color: #f7f7f7;
}
.a_data_r{
    color: #ccc;
}
.opened td {
    background-color: #3a3a3a;
    color: #fff;
}
tr.opened{
    box-shadow: 0px -10px 20px #000;
    position: relative;
    z-index: 3;
}
.click_container td, .click_container:hover td {
    box-shadow: 1px 1px 20px #000;
    background-color: #000 !important;
    max-width: 1185px;
}

body .click_open.opened td, body .click_open.opened:hover td{
    background-color: #000!important;
}
#actors_kf, #actors_k{
    box-shadow: 2px 2px 11px #000;
}
.cssload-circle{
    position:relative;
    margin:75px auto;
    width:120px;
    height:120px;
    background:rgb(236,240,241);
    border:solid 8px rgb(44,62,80);
    border-radius:100%;
    overflow:hidden;
    animation: cssload-rotates 2.3s infinite linear;
    -o-animation: cssload-rotates 2.3s infinite linear;
    -ms-animation: cssload-rotates 2.3s infinite linear;
    -webkit-animation: cssload-rotates 2.3s infinite linear;
    -moz-animation: cssload-rotates 2.3s infinite linear;
}
.cssload-up{
    width: 45px;
    height: 60px;
    left:38px;
    overflow:hidden;
    background:rgb(204,238,255);
    position:absolute;
}
.cssload-up:before,.cssload-up:after{
    content:"";
    width:45px;height:45px;
    background:rgb(236,240,241);
    position:absolute;
    z-index:1;
}
.cssload-up:before{
    top:45px;
    left:-26px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
.cssload-up:after{
    top:45px; left:26px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
.cssload-innera{
    position:relative;
    top:23px;
    width:45px;height:45px;
    background:rgb(241,196,15);
    animation: cssload-mymove 2.3s infinite linear;
    -o-animation: cssload-mymove 2.3s infinite linear;
    -ms-animation: cssload-mymove 2.3s infinite linear;
    -webkit-animation: cssload-mymove 2.3s infinite linear;
    -moz-animation: cssload-mymove 2.3s infinite linear;
}
.cssload-down{
    width: 45px;
    height: 60px;
    left:38px;
    top:60px;
    overflow:hidden;
    background:rgb(204,238,255);
    position:absolute;
    z-index:1;
}
.cssload-down:before,.cssload-down:after{
    content:"";
    width:45px;
    height:60px;
    background:rgb(236,240,241);
    position:absolute;
    z-index:1;
}
.cssload-down:before{
    top:-38px;
    left:-26px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
.cssload-down:after{
    top:-38px;
    left:36px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
.cssload-innerb{
    position:relative;
    top:60px;
    width:45px;height:45px; background:rgb(241,196,15);
    animation: cssload-mymoveb 2.3s infinite linear;
    -o-animation: cssload-mymoveb 2.3s infinite linear;
    -ms-animation: cssload-mymoveb 2.3s infinite linear;
    -webkit-animation: cssload-mymoveb 2.3s infinite linear;
    -moz-animation: cssload-mymoveb 2.3s infinite linear;
}
@keyframes cssload-mymove{
    0%{top:23px;}
    100%{top:68px;}
}
@-o-keyframes cssload-mymove{
    0%{top:23px;}
    100%{top:68px;}
}
@-ms-keyframes cssload-mymove{
    0%{top:23px;}
    100%{top:68px;}
}
@-webkit-keyframes cssload-mymove{
    0%{top:23px;}
    100%{top:68px;}
}
@-moz-keyframes cssload-mymove{
    0%{top:23px;}
    100%{top:68px;}
}
@keyframes cssload-mymoveb{
    0%{top:60px;}
    90%{top:30px;}
    100%{top:-8px;}
}
@-o-keyframes cssload-mymoveb{
    0%{top:60px;}
    90%{top:30px;}
    100%{top:-8px;}
}
@-ms-keyframes cssload-mymoveb{
    0%{top:60px;}
    90%{top:30px;}
    100%{top:-8px;}
}
@-webkit-keyframes cssload-mymoveb{
    0%{top:60px;}
    90%{top:30px;}
    100%{top:-8px;}
}
@-moz-keyframes cssload-mymoveb{
    0%{top:60px;}
    90%{top:30px;}
    100%{top:-8px;}
}
@keyframes cssload-rotates{
    0%{transform:rotate(0deg);}
    80%{transform:rotate(0deg);}
    100%{transform:rotate(180deg);}
}
@-o-keyframes cssload-rotates{
    0%{-o-transform:rotate(0deg);}
    80%{-o-transform:rotate(0deg);}
    100%{-o-transform:rotate(180deg);}
}
@-ms-keyframes cssload-rotates{
    0%{-ms-transform:rotate(0deg);}
    80%{-ms-transform:rotate(0deg);}
    100%{-ms-transform:rotate(180deg);}
}
@-webkit-keyframes cssload-rotates{
    0%{-webkit-transform:rotate(0deg);}
    80%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(180deg);}
}
@-moz-keyframes cssload-rotates{
    0%{-moz-transform:rotate(0deg);}
    80%{-moz-transform:rotate(0deg);}
    100%{-moz-transform:rotate(180deg);}
}
section {
    width: 400px;
    margin: 90px auto;
}
.Tooltips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.Tooltips:hover p {
    visibility: visible;
    opacity: 1;
}
.Tooltips:hover p.OnTop {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
.Tooltips:hover p.OnBottom {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}
.Tooltips:hover p.OnLeft {
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}
.Tooltips:hover p.OnRight {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}
.Tooltips p {
    min-width: 320px;
    opacity: 0;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    text-align: left;
    width: auto;
    background: #000;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.2;
    padding: 10px;
    white-space: normal;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
    transition: all 0.2s ease-out;
    border: 2px solid #555;
    border-radius: 8px;

}
.Tooltips p.OnTop {
    top: -100px;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
}
.Tooltips p.OnTop:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -8px;
    margin-left: -8px;
    left: 50%;
}
.Tooltips p.OnBottom {
    bottom: -15px;
    left: 50%;
    -webkit-transform: translate(-50%, 150%);
    transform: translate(-50%, 150%);
}
.Tooltips p.OnBottom:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 8px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    margin-left: -8px;
    left: 50%;
}
.Tooltips p.OnLeft {
    left: -15px;
    top: -15px;
    -webkit-transform: translate(-150%, -50%);
    transform: translate(-150%, -50%);
}
.Tooltips p.OnLeft:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    margin-top: -8px;
    right: -8px;
}
.Tooltips p.OnRight {
    right: -15px;
    top: -15px;
    -webkit-transform: translate(150%, -50%);
    transform: translate(150%, -50%);
}
.Tooltips p.OnRight:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-right: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    margin-top: -8px;
    left: -8px;
}
.relative{
    position: relative;
}
a.open_ul {
    background: url("images/arrows2.png") no-repeat scroll left -40px top -40px transparent;
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    width: 40px;
    top: calc(50% - 19px);
    right: calc(50% - 20px);
}


body a.actor_info.open_ul{
    top:  5px;
    right:  5px;
}
.in_hdr {
    font-weight: bold;
    font-size: 14px;
    margin: 16px 0 2px 0;
    color: #b0b0b0;
}

a#cl.open_ul:hover {
    background: url("images/arrows2.png") no-repeat scroll left 0 top -40px transparent;
}
a#op.open_ul {
    background: url("images/arrows2.png") no-repeat scroll left -40px top 0 transparent;
}
a#op.open_ul:hover {
    background: url("images/arrows2.png") no-repeat scroll left 0 top 0 transparent;
}

.data_header {
    font-size: 15px;
    margin: 0;
    padding: 5px 5px 5px 34px;
    cursor: pointer;
    position: relative;
    color: #ececec;
}

.data_header::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #6a6a6a;
    left: 5px;
    top: 6px;
    border-radius: 3px;
}
.active .data_header::after {
    content: "\2713";
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    left: 6px;
    border: 0;
    top: 7px;
    color: red;
}
.graph{
    max-width: 1200px;
}
.note_container {
    color: #7b7b7b;
}

body .no_overflow:hover>td, body .no_overflow td, body .no_overflow{
 background-color: transparent;
    box-shadow: none;
}
body .source_link{
    color: #626262;
    font-size: 12px;
}
#chart_div{
    height: 500px;
}
.movie_content{
    background-color: #000;
    padding: 15px;
    box-sizing: border-box;
}
.button_big{
    padding: 9px;
    margin: 4px;
    font-size: 15px;
    cursor: pointer;
}
.small{
    font-size: 14px;
}
.get_data_refresh {
    position: fixed;
    left: 324px;
    z-index: 100000;
    background-color: #5e5e5e;
    padding: 16px;
    border: 2px solid #6a6a6a;
    box-shadow: 4px 4px 5px #000;
    display: none;
    top: 40%;
}
.get_data_refresh::before {

    content: " ";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #5e5e5e;
    left: -15px;
    transform: skewX(-5deg) rotate(233deg) skewY(-19deg);
    z-index: -1;
    top: 33px;
    border-right: 2px solid #6a6a6a;
    border-top: 2px solid #6a6a6a;

}
.get_data_refresh button {
    font-size: 17px;
    padding: 17px;
    cursor: pointer;
}
.small_desc {
    font-size: 12px;
    color: #b0b0b0;
    line-height: 13px;
    margin-bottom: 6px;
}
.verdict{
    font-size: 16px;
}
.red{
    color: #ff0000;
}
.green{
    color: #00ff00;
}
.gray {
    color: #8e8e8e;
}
.footer_table_result{
    position: relative;
}
.clear_table {
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
}
.header_menu a{
     padding: 5px;
     font-size: 12px;
 }
#chart_div {
    font-family: Arial, Helvetica, sans-serif;

}
.highcharts-background
{
                          fill: #2a2a2b;
}
.highcharts-legend-item > text {
    fill: #E0E0E3 !important;
    font-family: Arial;
    font-size: 1em;
}
.highcharts-title {
    fill: #E0E0E3!important;
    font-size: 20px;
}
.highcharts-axis-title {
    fill: #E0E0E3!important;
}
.highcharts-axis-labels, .highcharts-axis-labels text {
    fill: #E0E0E3!important;
    cursor: default;
    font-size: 0.9em;
}
.highcharts-grid-line {
    fill: none;
    stroke: #707073!important;
}
.highcharts-column-series rect.highcharts-point {
    stroke: #2a2a2b!important;
}
.highcharts-column-series .highcharts-point {
    transition: fill-opacity 250ms;
}
.highcharts-contextbutton {
    fill: #505053!important;
    stroke: none;
    stroke-linecap: round;
}
.highcharts-axis-line {
    fill: none;
    stroke: #707073!important;
}
.highcharts-tick {
    stroke: #707073!important;
}
.highcharts-point {
    stroke-width: 1px!important;
}
.highcharts-legend-item-hidden .highcharts-point{
    fill: #2a2a2b!important;
}
.pager a {
    color: white!important;
}
.highcharts-legend-title tspan{
    fill: #9d9d9d;
}



.site-header-main .search{
    display: none;
}
#menu-main {
    display: flex;
    width: 100%;
    list-style: none;
}
.main-navigation .li {
    float: left;
    padding-left: 15px;
    position: relative;
}
.site-header-menu li > a {
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;

    white-space: break-spaces;
    font-family: 'Courier Prime';
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    transform: scale(1,1.2);
    display: block;
    outline-offset: -1px;
    text-decoration: none;

}
.site-header-main {
    display: flex;
    background-color: #000;
    padding: 5px 30px;
    align-items: center;
    justify-content: space-evenly;
}

.main-navigation ul ul {
    display: block;
    left: -999em;
    margin: 0;
    position: absolute;
    z-index: 99999;
    margin-top: -1px !important;
    width: 220px;
    padding: 30px 5px 5px 5px;
    background-color: #000;
    box-sizing: border-box;
    list-style: none;
}
.main-navigation a {
    display: block;
    line-height: 1.3125;
    outline-offset: -1px;
    padding: 6px 0;
    padding-right: 0px;
    padding-left: 0px;
}
.site-header-menu li > a {
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
.main-navigation li:hover > ul,
.main-navigation li.focus > ul {
    left: auto;

}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;

}

.table_print {
    display: flex;
    width: 200px;
    margin: 10px;

}
.table_print {
    display: flex;
    width: 250px;
    margin: -1px;
    border: 1px solid #000;
    justify-content: space-between;
    padding: 5px;
}


/* latin-ext */
@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/courierprime/v2/u-450q2lgwslOqpF_6gQ8kELaw9pWt_-.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/courierprime/v2/u-450q2lgwslOqpF_6gQ8kELawFpWg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
